body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

#controls {
    margin-bottom: 20px;
}

#canvas-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    max-width: 800px;
    margin: 0 auto; /* Центрирование сетки */
}

canvas {
    border: 1px solid #ccc;
    width: 100%; /* Чтобы канвасы вписывались в ячейки */
    height: auto;
    aspect-ratio: 1 / 1; /* Устанавливает квадратное соотношение сторон */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
